 /* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
 * {
    margin: 0;
    padding: 0;
    font-family: Oswald;
    box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/bodym.jpg);
}

.error {
  color: red;
  display: block;
  text-align: center;
}

.success-message {
  background-color: green;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  color: white;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 450px;
  height: 600px;
  margin: 150px 0;
  border-radius: 105px;
  background: #F7DDA4;   
}

.form h1 {
  margin-bottom: 10px;
  text-align: center;
}

.form input {
  width: 300px;
  padding: 15px;
  font-size: 1rem;
  margin: 10px 0;
  border: 1px solid gray;
  border-radius: 5px;
}

.form .submit-btn {
  width: 300px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  color: whitesmoke;
  font-size: 1.1rem;
  border: none;
  background-color: rgb(248, 168, 21);
  cursor: pointer;
  transition: .5s;
}

.form .submit-btn:hover {
  background-color: rgb(219, 150, 20);
}

.form .account-exist, .no-account {
  margin-top: 10px;
  font-size: 14px;
}

.form .submit-btn:hover {
  background-color: rgb(219, 150, 20);
}

.form .account-exist, .no-account {
  margin-top: 10px;
  font-size: 14px;
}

.form .register {
  margin-left: 5px;
  color: rgb(248, 168, 21);
  transition: .5s;
}

.form .login {
  margin-left: 5px;
  color: rgb(248, 168, 21);
  transition: .5s;
}

.error-message {
  background-color: red;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  color: white;
}

