@media (max-width: 700px) {

nav{
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.logo{
    width: 150px;
}
nav ul li a{
        border-radius: 20px;
}

.lgt-btn {
    border-radius: 20px;
}


.headertext{
    margin-top: 10px;
    font-size: 20px;
}
/*--------about----------*/

.aboutcol1 img{
    display: none;
}
.slides{
    
    width: 200%;
    height: 200px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.navigation-manual{
position: absolute;
width: 400px;
margin-top: -40px;
display: flex;
justify-content: center;
}
.manual-btn{
    display: none;
}


/*----------services----------*/

.footm{
    display: grid;
    width: 500px;
    height: 200px;
    grid-gap: 20px;
    margin-top: 50px;
}

.footm p{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}

.backm{
    display: grid;
    width: 500px;
    height: 200px;
    grid-gap: 20px;
    margin-top: 100px;
}

.footm div:hover{
    background-image: none;
    transform: none;
    color: white;
}

.backm p{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 15px;
}

.backm div:hover{
    background-image: none;
    transform: none;
    color: white;
}


.bodym{
    display: grid;
    width: 500px;
    height: 200px;
    grid-gap: 20px;
    margin-top: 50px;
}

.bodym p{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}

.bodym div:hover{
    background-image: none;
    transform: none;
    color: white;
}
}